<div class="topbar  d-md-block ">
    <div class="container  px-2 px-md-5 px-xl-8d75 ">
        <div class="topbar__nav d-flex justify-content-between align-items-center  ">
            <ul class="topbarleft nav ml-lg-n3">
                <li class="nav-item yazi"> 500 TL ve Üzeri Alışverişlerde Ücretsiz Kargo!
                           </li>
                
            </ul>
            <ul class="topbarright nav">

               
                <li class="nav-item"> Sipariş Takip
                </li>
                <li class="nav-item ">İletişim</li>
                <div class="language-switcher">
                    <li class="nav-item">  
                    <button class="btn"  (click)="switchLanguage('en')"><img src="/public/img/eng.png" alt="" height="23px" width="30px" ></button> 
                    
                     <button class="btn" (click)="switchLanguage('tr')"><img src="/public/img/tr.png" alt=""  height="26px" width="32px"></button>
                      </li>
                 </div>


              
              
            </ul>
        </div>
    </div>
</div>
