

  
    <nav class="navbar navbar-expand-md d-flex align-items-center">
      
        <div class="container">
           

            <a routerLink="/homepage"  class="navbar-brand ">
            <img src="/public/img/logotasarim.png" alt="" height="60px" width="60px">
            <h2>S2 Store</h2>
            </a>

          


            <div class="d-flex align-items-center">       
             
              <form class="d-flex"  role="search">
                <input class="form-control me-2" style="width: 450px;" type="search" placeholder="Ürün arayın..." aria-label="Search" >
                <button class="btn" type="submit"><i class="bi bi-search"></i></button>
            </form>
            </div>
       
            <ul class="navbar-nav">

              <div >
                <li class="nav-item">
                  <a class="nav-link me-2" aria-current="page" routerLink="/"><img src="/public/img/love.png" alt="" width="35px" height="35px"></a>
                </li>
               </div>
 
              <!--User profile-->
              <div >
              <li class="nav-item">
                <a class="nav-link me-2" aria-current="page" routerLink="/login"><img src="/public/img/profile.png" alt="" width="35px" height="35px"></a>
              </li>
             </div>



                 
             <div >
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" routerLink="/"><img src="/public/img/shopping.png" alt="" width="35px" height="35px"></a>
                </li>
               </div>

            
               
            
             
             

            
           
            </ul>
          </div>
          
        
      </nav>
   
  
    